:root {
  --pink: #F892D4;
  --blue: #3974D5;
  --green: #32BD86;
  --red: #F3574B;
  --peach: #FAB9BD;
  --black: #383435;
  --white: #EBE7DE;
  --grey:rgb(87, 84, 85);
  --yellow: #F4B232;
 
}

input[type="file"]::-webkit-file-upload-button {
  background: transparent;
  font-family: inherit;
  margin-top: 2.2%;
  margin-right: 2%;
  border: 2px solid var(--black);
}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--peach);
    padding: 3.5% 5% 6% 5%;
    box-shadow: 9px 9px var(--black);
    display: flex;
    justify-content: center;
    --fs: 0.65rem;
    max-width: 52vw;
    min-width: 40vw;
    max-height: 72vh;
    min-height: 38vh;
  }
  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--black);
    padding: 2rem;
    max-height: 97%;
    width: 97%;
    color: white;
  }

  .containerHeader {
    font-size: 1.4vw;
    color: var(--black);
    text-shadow: 3px 3px var(--white);
    background-color: var(--peach);
    margin-top: -6%;
    width: fit-content;
    padding: 0 1rem 0rem 1rem;
    text-indent: none;
    position: absolute;
    text-align: center;
  }

  .containerForm > input {
    border: 3px solid var(--black);
    background-color: transparent;
    font-family: inherit;
    font-size: 0.8rem;
    width: 33vw;
    height: 40px;
    margin-bottom: 0.4rem;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
  }

  .containerForm > label {
    line-height: 2.2rem
  }

  .containerForm > textarea {
    border: 3px solid var(--black);
    background-color: transparent;
    font-family: inherit;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    padding: 0px 10px;
    height: 60px;
    line-height: 1rem;
    resize:vertical;
    overflow: auto;
    outline: none;
    width: 33vw;

  }

  .closeButton {
    font-size: 1.5vw;
    align-self: flex-end;
    right: 10px;
    top: 10px;
    position: absolute;
    color: var(---black);
  }

  .saveButton {
    border: 3px solid var(--black);
    width: 34.8vw;
    margin-top: 1rem;
    height: 5vh;
    color: var(--black);
  }
  

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    --fs: 40px;
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    --fs: 32px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    --fs: 28px;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .container {
    --fs: 22px;
  }
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .container {
    --fs: 16px;
  }
  
}
