.DatePickerContainer {
  width: 31vw;
  max-height: 37vh;
  display: flex;
  justify-content: center;
  color: var(--black);
  padding: 1vh;
  margin-top: 1rem;
}


.react-calendar {
  padding: 0 0.5rem 0.5rem 0.5rem;
  max-width: 28vw;
  max-height: 36vh;
  text-align: center;
  border: 3px solid var(--black);
  box-shadow: 9px 9px var(--black); 
}

div.react-calendar__navigation {
  font-size: 1.02vw;
  margin: 1.3vw 1.3vw 1vw 1vw; 
  color: var(--black);
  border: 3px solid var(--black);
  padding: 0.15rem;
  
  
}

abbr {
  font-size: 1.1vw; 

}

.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.4;
}

.react-calendar__tile--range {
  color: var(--blue);
  text-shadow: 1.5px 1.5px var(--pink);

}