.NavBarContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8vh;
  font-size: 1.5vw;
}

.NavBarContainer > button {

  color: var(--red);
  text-align: center;

}

div > .Logout {
  margin-top: 0.2rem;
  color: var(--black);
}

