.ForumListContainer {
  border: 3px solid var(--black);
  display: flex;
  flex-direction: column;
  color: var(--black);
  box-shadow: 9px 9px var(--black); 
  margin: 2.2vw 1.1vw;
  max-height: 50vh;
}

.ForumList_header {
  align-self: center;
  padding: 1vw;
  font-size: 1.7vw;
  color: var(--white);
  text-shadow: 2px 2px var(--pink);
}

.hrline {
  border-bottom: 3px solid var(--black);
}

.ForumList_body {
  align-self: center;
  font-size: 0.57rem;
  padding: 0.4rem;
  max-height: 40vh;
  max-width: 27.88vw;
  overflow: scroll;
}

.ForumListContainer > .forumListBtn { 
  align-self: center;
  width: 95%;
  border: 3px solid var(--black);
  font-size: 0.9vw;
  margin-bottom: 0.5rem;
}

.ForumListContainer > .forumListBtn:hover{
  transition: all 0.2s ease-in-out 0s;
  transform: scale(1.03, 1.03);
}