.CreateForumContainer {
  width: 36vw;
  height: 70vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--peach);
  z-index: 1000;
  padding: 3% 5% 7% 5%;
  font-size: 0.85vw;
  box-shadow: 9px 9px var(--black);
  display: flex;
  justify-content: center;
  line-height: 1.6rem;
}

.sub_eventModalContainer{
  border: 3px solid var(--black);
  padding: 2rem;
  height: 95%;
  text-align: left;
}

.sub_eventModalContainer > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeButton {
  font-size: 1.5vw;
  align-self: flex-end;
  right: 5px;
  top: 5px;
  position: absolute;
}

.header {
  font-size: 1.4vw;
  color: var(--black);
  text-shadow: 3px 3px var(--white);
  background-color: var(--peach);
  top: 4.5%;
  width: fit-content;
  padding: 0 1rem 0.5rem 1rem;
  text-indent: none;
  position: absolute;
  left: 27%;
  right: 20%;
}

.sub_eventModalContainer > form > input {
  outline: none;
  border: 3px solid var(--black);
  background-color: transparent;
  width: 32vw;
  height: 2rem;
  margin-bottom: 1rem;
}

.sub_eventModalContainer > form > label {
  align-self: flex-start !important;
}

.CreateForumContainer > .sub_eventModalContainer > form > textarea {
  outline: none;
  border: 3px solid var(--black);
  background-color: transparent;
  height: 5rem;
  margin-bottom: 1rem;
  resize: vertical;
}
.saveButton {
  margin-top: 1rem;
  border: 3px solid var(--black);
  width: 33vw;
}
