.createEventContainer {
  width: 34vw;
  height: 70vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--pink);
  z-index: 1000;
  padding: 3% 3% 0 3%;
  font-size: 0.65rem;
  box-shadow: 9px 9px var(--black);
  display: flex;
  justify-content: center;
  
}

.modalContainer {
  height: 77%;
  width: 88%;
  border: 3px solid var(--black);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.location-input {
  display: flex;
  flex-direction: column;
}
.location-search-input {
  border: 3px solid var(--black);
  background-color: transparent;
  font-family: inherit;
  font-size: 0.5rem;
  width: 26vw;
  height: 30px;
  margin-left: 0.2em;
  margin-bottom: 0.4rem;
  align-self: center;
  padding: 0px 10px;
}
.location-search-input::placeholder{
color: var(--black);
}

.createpostTitle:focus{
  background-color: transparent;
}