.CreateForumContainer {
  width: 36vw;
  height: 75vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--peach);
  z-index: 1000;
  padding: 3% 5% 7% 5%;
  font-size: 0.65rem;
  box-shadow: 9px 9px var(--black);
  display: flex;
  justify-content: center;
}

.sub_eventModalContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid var(--black);
  padding: 2rem;
  height: 95%;
  width: 92%;
  text-align: left;

}

.closeButton {
  font-size: 1.3rem;
  /* align-self: flex-end; */
  /* margin: -2% -7% 1% 0;  */
  align-self: flex-end;
  right: 5px;
  top: 5px;
  position: absolute;
}

.header {
  font-size: 1.2rem;
  color: var(--black);
  text-shadow: 3px 3px var(--white);
  background-color: var(--peach);
  top: 4.5%;
  text-align: center;
  width: fit-content;
  padding: 0 1rem 0.5rem 1rem;
  text-indent: none;
  position: fixed;
}

.sub_eventModalContainer > input {
  outline: none;
  border: 3px solid var(--black);
  background-color: transparent;
  width: 84%;
  height: 2rem;
}

.sub_eventModalContainer > label {
  align-self: left;
}

.CreateForumContainer > .sub_eventModalContainer > textarea {
  outline: none;
  border: 3px solid var(--black);
  background-color: transparent;
  width: 84%
}
