
.event_img {
  max-width: 32vw;
  /* border: 3px solid var(--black); */
  box-shadow: 9px 9px var(--black);
  max-height:30vh;
}

.description {

  line-height: 1.1rem;

}
.date {
  margin-top: 0.7rem;
}

.event_info {
  /* border: 3px solid var(--black); */
  width: 33vw;
  max-height: 33%;
  padding: 0.8rem;
  text-align: center;
  margin-top: 1.5rem;
  line-height: 2rem;
  color: var(--black);
  
  /* box-shadow: 9px 9px var(--black); */

}

.event_info > a:link {
  margin-top: 1rem;
  text-decoration: none;
  color: var(--black);
}

#eventLink {
  margin-top: 0.7rem;
  font-size: 1.02rem;
}

.event_info > .buttonContainer {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  position: relative;
}

.event_info > .buttonContainer > button {
  border: 3px solid var(--black);
  margin-right: 1rem;
}


