
.EventModalContainer {
  width: 36vw;
  height: 70vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--peach);
  z-index: 1000;
  padding: 3% 5% 7% 5%;
  font-size: 0.65rem;
  box-shadow: 9px 9px var(--black);
  display: flex;
  justify-content: center;
}

.EventModalContainer > .sub_eventModalContainer > .title {
  position: absolute;
  top: 5%;
  background-color: var(--peach);
  width: fit-content;
  padding: 0 1rem 0.5rem 1rem;
  font-size: 1.02rem;
}

.EventModalContainer > .sub_eventModalContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid var(--black);
  padding: 2rem;
  height: 94%;
  width: 92%;
	color: white;
}

.event_img {
  width: 32vw;
  /* border: 3px solid var(--black); */
  box-shadow: 9px 9px var(--black);
}

.description {

  line-height: 1.1rem;

}
.date {
  margin-top: 0.7rem;
}

.event_info {
  /* border: 3px solid var(--black); */
  width: 33vw;
  max-height: 33%;
  padding: 0.8rem;
  text-align: center;
  margin-top: 1.5rem;
  line-height: 2rem;
  color: var(--black);
  
  /* box-shadow: 9px 9px var(--black); */

}

.event_info > a:link {
  margin-top: 1rem;
  text-decoration: none;
  color: var(--black);
}

.closeButton {
  font-size: 1.3rem;
  /* align-self: flex-end; */
  /* margin: -2% -7% 1% 0;  */
  align-self: flex-end;
  right: 5px;
  top: 5px;
  position: absolute;
}

#eventLink {
  margin-top: 0.7rem;
  font-size: 1.02rem;
}


