

.btn {
  border: 3px solid var(--black);
	box-sizing: border-box;
	color: var(--black);
	cursor: pointer;
	display: inline-block;
	margin: 0.7rem;
	min-width: 100px;
	padding: .5rem;
	text-transform: uppercase;
	width: auto;
  margin-bottom: -20px;
}


.editForm > .saveButton:hover {
  transition: all 0.2s ease-in-out 0s;
  transform: scale(1.05, 1.05);
}
.eventModalBody {
  line-height: 1.2rem;
}

.eventModalBody > .title {
  line-height: 1.5rem;
}

.eventModalBody > div >.spotted_date {
 margin-bottom: 10px;

}


.eventModalBody > div {
  text-align:  center;
  margin-bottom: 20px;
}

.eventModalBody > .link {
  left:auto;
  right:auto;
  text-align:  center;
}


.closeButtonOne {
  font-size: 1.3rem;
  right: 40px;
  top: 40px;
  color: var(--black);
  position: absolute;
}

.helloThere {
  margin-top: -7%;
}

