.sub_eventsContainer {
  margin: 2rem;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.savedEventContainer {
  width: 36vw;
  border: 3px solid var(--black);
  padding: 0.5em;
  max-height: 50%;
  overflow: auto;
  height: 210px;
  margin-bottom: 2rem;
} 

.attendingEventContainer {
  width: 36vw;
  border: 3px solid var(--black);
  padding: 0.5em;
  height: 210px;
  overflow: auto;
}

.title {
  font-size: 0.9rem;
  color: var(--black);
  text-shadow: 3px 3px var(--white);
  background-color: var(--eggshell);
  margin-top: -15px;
  text-align: center;
  width: fit-content;
  padding: 0 1rem 0.5rem 1rem;
  text-indent: none;
  position: fixed;
}


.description {

  line-height: 1.1rem;

}
.date {
  margin-top: 0.7rem;
}

.event_info {
  border: 3px solid var(--white);
  width: 35vw;
  text-align: center;
  margin-top: 1.2rem;
  line-height: 2rem;
  box-shadow: 9px 9px var(--black);
}



