.LeftContainer {
  height: 100vh;
  width: 100%;
  background-color: var(--pink);
  color: var(--white);
}

.Logo {
  margin: 0.7rem 0 1rem 0;
  font-family: 'Monoton', cursive;
  font-weight: 100;
  text-align: center;
  color: var(--black);
  font-size: 3.5vw;
}